@{
    ViewData["Title"] = "Home Page";
}

<main class="" id="body">
    <div class="container col-xxl-8 px-4 py-5">
        <p>Well, well, well...<br />It looks like we have another project on our hands!</p>
    </div>
</main>