@{
    ViewData["Title"] = "Home Page";
}

<main class="" id="body">
    <div class="container col-xxl-8 px-4 py-5">
        <p>Well, well, well...<br />It looks like we have another project on our hands!</p>
        <p>
            This is an updated version of my coding samples, but rather then plain JavaScript, these are written in C#.
        </p>
        <div class="row g-y py-5 row-cols-1 row-cols-lg-2">
            <div class="col order-last order-lg-first description">
                <h1 class="display-5 fw-bold 1h-1 mb-3 d-title"><strong>Sample Projects:</strong></h1>
                <label class="text-light">Simple</label>
                <ul class="fa-ul pt-2 checklist">
                    <li><a asp-area="" asp-controller="Home" asp-action="FizzBuzzPage"><span class="fa-li"><i class="fas fa-code"></i></span><strong>Fizz Buzz</strong></a></li> - simple logic and math
                    @*<li>More coming soon!</li>*@
                </ul>
                <label class="text-light">Complex</label>
                <ul class="fa-ul pt-2 checklist">
                    <li><a asp-area="" asp-controller="Home" asp-action="MortgageCalculatorPage"><span class="fa-li"><i class="fas fa-code"></i></span><strong>Mortgage Calculator</strong></a></li> - amortization schedule generator
                    @*<li>More coming soon!</li>*@
                </ul>
                <label class="text-light">Full-scale</label>
                <ul class="fa-ul pt-2 checklist">
                    @*External Links*@
                    <li><a href="https://contactsmvc6.up.railway.app/"><span class="fa-li"><i class="fas fa-code"></i></span><strong>Contacts</strong></a></li> - app to manage one's contact list
                    @*<li>More coming soon!</li>*@
                </ul>
@*                <label class="text-light">Huge</label>
                <ul class="fa-ul pt-2 checklist">
                    <li><a href="https://www.sample.com"><span class="fa-li"><i class="fas fa-code"></i></span><strong>App Name</strong></a></li>
                    <li>More coming soon!</li>
                </ul>
                <label class="text-light">Open source contributions</label>
                <ul class="fa-ul pt-2 checklist">
                    <li><a href="https://www.sample.com"><span class="fa-li"><i class="fas fa-code"></i></span><strong>App Name</strong></a></li>
                    <li>More coming soon!</li>
                </ul>*@
            </div>

            <div class="col">
                <img src="/img/Infinity-loop - PNG.png" class="img-fluid center-block d-block mx-auto"
                     alt="App Logo" max-width="700" max-height="500">
            </div>
        </div>
    </div>
</main>