@{
    ViewData["Title"] = "Minor Projects";
}

<main class="" id="body">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row g-y py-5 row-cols-1 row-cols-lg-2">
            <div class="col order-last order-lg-first description">
                <h1 class="display-5 fw-bold 1h-1 mb-3 d-title"><strong>List of Apps:</strong></h1>
                <h4 style="font-variant:small-caps" class="d-brief"><strong>Some little sample projects:</strong></h4>
                <ul class="fa-ul pt-2 checklist">
                    <li><a asp-area="" asp-controller="Home" asp-action="FizzBuzzPage"><span class="fa-li"><i class="fas fa-code"></i></span><strong>Fizz Buzz</strong></a></li>
                    <li ><a href="/mini-projects/rewind/challenge.html"><strike>Rewind</strike></a></li>
                    <li><a href="/mini-projects/n-cent-i-vize/challenge.html"><strike>N' Cent-i-vize</strike></a></li>
                    <li><a href="/mini-projects/taco-cat/challenge.html"><strike>Taco Cat</strike></a></li>
                    <li><a href="/mini-projects/fizz-buzz/challenge.html"><strike>Fizz Buzz</strike></a></li>
                    <li><a href="/mini-projects/loan-ranger/challenge.html"><strike>Loan Ranger</strike></a></li>
                </ul>
            </div>
            <div class="col">
                <img src="/img/Infinity-loop - PNG.png" class="img-fluid center-block d-block mx-auto"
                     alt="App Logo" max-width="700" max-height="500">
            </div>
        </div>
    </div>
</main>
